<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Anime Template" />
		<meta name="keywords" content="Anime, unica, creative, html" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Anime | Template</title>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>

		<!-- Css Styles -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
		<link rel="stylesheet" href="/css/plyr.css" type="text/css" />
		<link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
		<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/manga.css" type="text/css" />
		<style>
			textarea {
				color: black !important;
			}
		</style>
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		{{> header}}

		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a href="./index.html"><i class="fa fa-home"></i> Home</a>
							<a href="./categories.html">Categories</a>
							<a href="#">Romance</a>
							<span>Fate Stay Night: Unlimited Blade</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->

		<!-- Anime Section Begin -->
		<section class="anime-details spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="reader_control">
							<div class="anime__details__text">
								<div class="anime__details__title">
									<h3>{{realName manga.title}}</h3>
								</div>
							</div>
							<div class="controller">
								<div class="btn-group">
									{{#compare manga.chapter.chapter_index 2}}
									<a
										href="/manga/{{
											manga._id
										}}/{{sub manga.chapter.chapter_index 1}}/read"
										><i class="fa fa-chevron-left"></i> Prev</a
									>
									{{/compare}}
									<div class="chapter_selector btn btn-light">
										Chapter {{ manga.chapter.chapter_index }}:
										{{ manga.chapter.chapter_title }}
									</div>
									{{#compare (sub manga.count_chapter 1) manga.chapter.chapter_index}}
									<a
										href="/manga/{{
											manga._id
										}}/{{sum manga.chapter.chapter_index 1}}/read"
										><i class="fa fa-chevron-right"></i> Next</a
									>
									{{/compare}}
								</div>
							</div>
							<div class="anime__video__player">
								{{#each manga.chapter.images}}
								<div class="page_chapter">
									<img src="/{{ this }}" title="manga image" />
								</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<div class="anime__details__review">
							<div class="section-title">
								<h5>Reviews</h5>
							</div>
							<div id="review_zone">
								{{#each review.review}}
								<div class="anime__review__item">
									<div class="anime__review__item__pic">
										<img
										{{#if this.user.avatar}}
										src="/{{ this.user.avatar }}"
										{{else}}
										src="/img/anime/review-1.jpg"
										{{/if}} alt="" />
									</div>
									<div class="anime__review__item__text">
										<h6>
											{{ this.user.display_name }}
											<span>{{formatDate this.date}}</span>
										</h6>
										<p>{{ this.content }}</p>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
						<div class="anime__details__form">
							<div class="section-title">
								<h5>Your Comment</h5>
							</div>
							<form
								action=""
								method="POST"
								onsubmit="
                                        return newComment(event, this, '{{
									manga._id
								}}', '{{ user.display_name }}', '{{ user.avatar }}')"
							>
								<textarea
									placeholder="Your Comment"
									name="comment"
									id="comment"
									required
								></textarea>
								<button type="submit">
									<i class="fa fa-location-arrow"></i> Review
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Anime Section End -->

		{{> footer}}

		<!-- Search model Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch"><i class="icon_close"></i></div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here....." />
				</form>
			</div>
		</div>
		<!-- Search model end -->

		<!-- Js Plugins -->
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/player.js"></script>
		<script src="/js/jquery.nice-select.min.js"></script>
		<script src="/js/mixitup.min.js"></script>
		<script src="/js/jquery.slicknav.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/manga.js"></script>
		<script src="/js/anime-details.js"></script>
	</body>
</html>
