<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Anime Template" />
		<meta name="keywords" content="Anime, unica, creative, html" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Anime | Template</title>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>

		<!-- Css Styles -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
		<link rel="stylesheet" href="/css/plyr.css" type="text/css" />
		<link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
		<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/rate.css" type="text/css" />
		<link rel="stylesheet" href="/css/manga.css" />
		<style>
			textarea {
				color: black !important;
			}
		</style>
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		{{> header }}

		<!-- Breadcrumb Begin -->
		<div class="breadcrumb-option">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb__links">
							<a href="./index.html"><i class="fa fa-home"></i> Home</a>
							<a href="./categories.html">Categories</a>
							<span>Romance</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Breadcrumb End -->

		<!-- Anime Section Begin -->
		<section class="anime-details spad">
			<div class="container">
				<div class="anime__details__content">
					<div class="row">
						<div class="col-lg-3">
							<div
								class="anime__details__pic set-bg"
								data-setbg="/{{ manga.avatar }}"
							>
								<div class="comment"><i class="fa fa-comments"></i> 11</div>
								<div class="view"><i class="fa fa-eye"></i> 9141</div>
							</div>
						</div>
						<div class="col-lg-9">
							<div class="anime__details__text">
								<div class="anime__details__title">
									<h3>{{realName manga.title}}</h3>
									<span>{{ manga.author }}</span>
								</div>
								<div class="anime__details__rating">
									{{> rate}}
									<span>{{ manga.count_vote }} Votes</span>
								</div>
								<p>
									{{ manga.description }}
								</p>
								<div class="anime__details__widget">
									<div class="row">
										<div class="col-lg-6 col-md-6">
											<ul>
												<li><span>Author:</span>{{ manga.author }}</li>
												<li><span>Finish:</span> {{state manga.state }}</li>
												<li>
													<span>Genre:</span>{{#each manga.tags}}
													{{ this }}
													{{/each}}
												</li>
											</ul>
										</div>
										<div class="col-lg-6 col-md-6">
											<ul>
												<li>
													<span>Scores:</span>
													{{getPoint manga.point manga.count_vote }} / 5
												</li>
												<li><span>Chapter:</span>{{ manga.count_chapter }}</li>
												<li><span>Views:</span>{{ manga.count_view }}</li>
												<li>
													<span>Uploaded Date</span
													>{{formatDate manga.upload_date}}
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="anime__details__btn">
									{{#if isLiked}}
									<button
										type="button"
										class="follow-btn"
										style="background-color: aqua"
										onclick="setFollowState(this, '{{ manga._id }}')"
									>
										Unfollow
									</button>
									{{else}}
									<button
										type="button"
										class="follow-btn"
										onclick="setFollowState(this, '{{ manga._id }}')"
									>
										Follow
									</button>
									{{/if}}
									<a href="/manga/{{ manga._id }}/1/read" class="watch-btn">
										<span>Read Now</span> <i class="fa fa-angle-right"></i
									></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-8">
						<div class="manga__details__chapters">
							<div class="section-title">
								<h5>Chapter</h5>
								<table class="chapters-table">
									<tr>
										<th>Chapter</th>
										<th>Name</th>
										<th>Update</th>
									</tr>
									{{#each manga.chapter}}
									<tr>
										<td data-th="Chapter">
											<a
												href="/manga/{{ ../manga._id }}/{{
													this.chapter_index
												}}/read"
												>Chapter {{ this.chapter_index }}</a
											>
										</td>
										<td data-th="Name">{{ this.chapter_title }}</td>
										<td data-th="Update">{{formatDate this.publish_date}}</td>
									</tr>
									{{/each}}
								</table>
							</div>
						</div>
						<div class="anime__details__review">
							<div class="section-title">
								<h5>Reviews</h5>
							</div>
							<div id="review_zone">
								{{#each review.review}}
								<div class="anime__review__item">
									<div class="anime__review__item__pic">
										<img
										{{#if this.user.avatar}}
										src="/{{ this.user.avatar }}"
										{{else}}
										src="/img/anime/review-1.jpg"
										{{/if}} alt="" />
									</div>
									<div class="anime__review__item__text">
										<h6>
											{{ this.user.display_name }}
											<span>{{formatDate this.date}}</span>
										</h6>
										<p>{{ this.content }}</p>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
						<div class="anime__details__form">
							<div class="section-title">
								<h5>Your Comment</h5>
							</div>
							<form
								action=""
								method="POST"
								onsubmit="
                                        return newComment(event, this, '{{manga._id}}', '{{ user.display_name }}', '{{ user.avatar }}')"
							>
								<textarea
									placeholder="Your Comment"
									name="comment"
									id="comment"
									required
								></textarea>
								<button type="submit">
									<i class="fa fa-location-arrow"></i> Review
								</button>
							</form>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div class="anime__details__sidebar">
							<div class="section-title">
								<h5>you might like...</h5>
							</div>
							{{#each relateManga}}
							<div
								class="product__sidebar__view__item set-bg"
								data-setbg="/{{this.avatar}}"
							>
								<div class="ep">{{this.count_chapter}}</div>
								<div class="view"><i class="fa fa-eye"></i>{{this.count_view}}</div>
								<h5><a href="/manga/{{this._id}}">{{realName this.title}}</a></h5>
							</div>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Anime Section End -->

		{{> footer}}

		<!-- Search model Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch"><i class="icon_close"></i></div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here....." />
				</form>
			</div>
		</div>
		<!-- Search model end -->

		<!-- Js Plugins -->
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/player.js"></script>
		<script src="/js/jquery.nice-select.min.js"></script>
		<script src="/js/mixitup.min.js"></script>
		<script src="/js/jquery.slicknav.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/anime-details.js"></script>
	</body>
</html>
