<!DOCTYPE html>
<html lang="zxx">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Anime Template" />
		<meta name="keywords" content="Anime, unica, creative, html" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Anime | Template</title>

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
			rel="stylesheet"
		/>

		<!-- Css Styles -->
		<link rel="stylesheet" href="/css/nettruyen.css" type="text/css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
		<link rel="stylesheet" href="/css/plyr.css" type="text/css" />
		<link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
		<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<style>
			.hero {
				font-size: 15px;
			}
		</style>
	</head>

	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>

		{{>header}}

		<section class="hero">
			<div class="container">
				<div class="row">
					<div id="ctl00_divCenter" class="full-width col-sm-12">
						<div class="row">
							<div class="col-md-3 col-sm-4">
								<section class="user-sidebar clearfix">
									<div class="userinfo clearfix">
										<figure>
											<figcaption>
												<img
												{{#if user.avatar}}
												src="/{{ user.avatar }}"
												{{else}}
												src="/img/anime/review-1.jpg"
												{{/if}}
												class="preview" style=" float: left; margin-right: 10px;
												margin-bottom: 10px; width: 50px; height: 50px; " />
												<div class="user-name">{{ user.display_name }}</div>
												<form
													style="color: white"
													action="/user/{{ user._id }}/avatar"
													method="POST"
													enctype="multipart/form-data"
												>
													<input type="file" id="file" name="file" />
													<input class="btn btn-danger" type="submit" />
												</form>
											</figcaption>
										</figure>
									</div>

									<nav class="user-sidelink clearfix">
										<ul
											style="
												position: fixed;
												width: 260px;
												background-color: brown;
											"
										>
											<li class="hvr-sweep-to-right">
												<a
													href="javascript:bookmarkscroll.scrollTo('following')"
												>
													Following Manga</a
												>
											</li>
											<li class="hvr-sweep-to-right">
												<a href="javascript:bookmarkscroll.scrollTo('history')">
													History</a
												>
											</li>
											<li class="hvr-sweep-to-right">
												<a href="javascript:bookmarkscroll.scrollTo('my')">
													My Manga</a
												>
											</li>
											<li class="hvr-sweep-to-right">
												<a href="/manga/new/upload">Upload Manga</a>
											</li>
											<li class="hvr-sweep-to-right">
												<a href="/user/logout"> Log out</a>
											</li>
										</ul>
									</nav>
								</section>
							</div>
							<div class="col-md-9 col-sm-8">
								<div class="user-page clearfix">
									<h1 class="postname" style="color: white" id="following">
										Following manga
									</h1>
									<section class="user-table clearfix">
										<div class="mrb5"></div>
										<div class="table-responsive">
											<table class="table" style="width: 100%">
												<thead>
													<tr>
														<th></th>
														<th class="nowrap">Manga Title</th>
														<th class="nowrap">Newest Chapter</th>
														<th class="nowrap">View</th>
														<th></th>
													</tr>
												</thead>
												<tbod>
													{{#each user.following}}
													<tr class="unread">
														<td>
															<a class="image" href="/manga/{{ this._id }}">
																<img
																	src="/{{ this.avatar }}"
																	class="lazy"
																	style="display: inline"
																/>
															</a>
														</td>
														<td>
															<a
																class="comic-name"
																href="/manga/{{ this._id }}"
																>{{realName this.title}}</a
															>
														</td>
														<td class="nowrap chapter">
															{{#each this.chapter}}
															<a
																class="visited"
																href="/manga/{{ ../this._id}}/{{
																	this.chapter_index
																}}/read"
																>Chapter {{ this.chapter_index }}</a
															>
															<br />
															<time
																class="time"
																>{{formatDate this.publish_date}}</time
															>
															{{/each}}
														</td>
														<td class="nowrap chapter">
															<span style="color: white">{{
																this.count_view
															}}</span>
														</td>
													</tr>
													{{/each}}
												</tbod>
											</table>
										</div>
									</section>
								</div>
								<div class="user-page clearfix">
									<h1 class="postname" style="color: white" id="history">
										History
									</h1>
									<section class="user-table clearfix">
										<div class="mrb5"></div>
										<div class="table-responsive">
											<table class="table" style="width: 100%">
												<thead>
													<tr>
														<th></th>
														<th class="nowrap">Manga Title</th>
														<th class="nowrap">Newest Chapter</th>
														<th class="nowrap">View</th>
														<th></th>
													</tr>
												</thead>
												<tbod>
													{{#each user.history}}
													<tr class="unread">
														<td>
															<a class="image" href="/manga/{{ this._id }}">
																<img
																	src="/{{ this.avatar }}"
																	class="lazy"
																	style="display: inline"
																/>
															</a>
														</td>
														<td>
															<a
																class="comic-name"
																href="/manga/{{ this._id }}"
																>{{realName this.title}}</a
															>
														</td>
														<td class="nowrap chapter">
															{{#each this.chapter}}
															<a
																class="visited"
																href="/manga/{{ ../this._id}}/{{
																	this.chapter_index
																}}/read"
																>Chapter {{ this.chapter_index }}</a
															>
															<br />
															<time
																class="time"
																>{{formatDate this.publish_date}}</time
															>
															{{/each}}
														</td>
														<td class="nowrap chapter">
															<span style="color: white">{{
																this.count_view
															}}</span>
														</td>
													</tr>
													{{/each}}
												</tbod>
											</table>
										</div>
									</section>
								</div>
								<div class="user-page clearfix">
									<h1 class="postname" style="color: white" id="my">
										My manga
									</h1>
									<section class="user-table clearfix">
										<div class="mrb5"></div>
										<div class="table-responsive">
											<table class="table">
												<thead>
													<tr>
														<th></th>
														<th class="nowrap">Manga Title</th>
														<th class="nowrap">Newest Chapter</th>
														<th class="nowrap">Lượt xem</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													{{#each user.upload_manga}}
													<tr class="unread">
														<td>
															<a class="image" href="/manga/{{ this._id }}">
																<img
																	src="/{{ this.avatar }}"
																	class="lazy"
																	style="display: inline"
																/>
															</a>
														</td>
														<td>
															<a
																class="comic-name"
																href="/manga/{{ this._id }}"
																>{{realName this.title}}</a
															>
															<div class="follow-action">
																<a
																	href="/manga/{{ this._id }}/edit"
																	class="mark-as-read"
																>
																	<button class="btn btn-success">Edit</button>
																</a>
																<form
																	method="POST"
																	action="/manga/{{
																		this._id
																	}}/delete?_method=DELETE"
																	style="display: inline"
																>
																	<button class="btn btn-danger">Delete</button>
																</form>
															</div>
														</td>
														<td class="nowrap chapter">
															{{#each this.chapter}}
															<a
																class="visited"
																href="/manga/{{ ../this._id}}/{{
																	this.chapter_index
																}}/read"
																>Chapter {{ this.chapter_index }}</a
															>
															<br />
															<time
																class="time"
																>{{formatDate this.publish_date}}</time
															>
															{{/each}}
														</td>
														<td class="nowrap chapter">
															<span style="color: white">{{
																this.count_view
															}}</span>
														</td>
													</tr>
													{{/each}}
												</tbody>
											</table>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		{{>footer}}

		<!-- Search model Begin -->
		<div class="search-model">
			<div class="h-100 d-flex align-items-center justify-content-center">
				<div class="search-close-switch"><i class="icon_close"></i></div>
				<form class="search-model-form">
					<input type="text" id="search-input" placeholder="Search here....." />
				</form>
			</div>
		</div>
		<!-- Search model end -->

		<!-- Js Plugins -->
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/player.js"></script>
		<script src="/js/jquery.nice-select.min.js"></script>
		<script src="/js/mixitup.min.js"></script>
		<script src="/js/jquery.slicknav.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/main.js"></script>
		<script src="/js/bookmarkscroll.js"></script>
		<script src="/js/profile.js"></script>
	</body>
</html>
